<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>게시판 목록</title>

</head>
<body>
<div style="text-align: center;">
    <h1>게시판 목록</h1>
    <table style="width: 700px; margin: auto">
        <tr>
            <th style="width: 10%">번호</th>
            <th style="width: 50%">제목</th>
            <th style="width: 15%">작성자</th>

        </tr>
        <tr th:each="board : ${boards}">
            <td th:text="${board.seq}"></td>
            <td><a th:href="@{/getBoard(seq=${board.seq})}" th:text="${board.title}"></a> </td>
            <td th:text="${board.writer}"></td>

        </tr>
    </table>
    <a href="insertBoard">새글 등록</a>
</div>
</body>
</html>